.indicadores {
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: bold;
}

.indicador-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 10px;
  width: 40%;
  height: 60px;
  margin: 0 5px 5px 0;
  text-align: center;
}

.indicador-porcentaje {
  color: white;
  font-size: 18px;
  padding: 4px;
}